.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;

  &.b {
    height: 300px;
    transform: rotate(90deg);
  }

  .weak-popup {
    @extend .popup-bg;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;

    .title {
      flex: 1;
      // color: $theme-title-color;
      color: $theme-text-color-dark;
      font-size: 12px;
    }
  }

  .strong-popup {
    @extend .popup-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px;

    width: 288px;
   
    position: relative;
    z-index: 0;

    .title {
      font-weight: bold;
      font-size: 18px;
      color: var(--text-black);
      text-align: center;
    }

    .line{
       width: 100%;
       border-bottom: 1px solid var(--secondary-color);
    }

    .subtitle {
      margin-top: 20px;
      font-weight: 500;
      font-size: 14px;
      color: var(--text-black);
      text-align: center;
    }

    .input-box {
      margin-top: 25px;
      padding: 0 10px;
      height: 30px;
    }

    .buttons {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .btn-submit,
      .btn-cancel {
        @extend .theme-btn;
        height: 35px;
        border: none;
        height: 28px;  
      }

      .btn-submit {
        @extend .theme-btn-submit;
        font-weight: bold;
        background-color: var(--primary-color);
        color: var(--text-white);
      }

      .btn-cancel {
        margin-left: 15px;
        font-weight: bold;
        color: white;
        background-color: var(--primary-color);
      }     
    }
  }

  .loading-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60px;
  }
}
